.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  padding: 10px;
  width: 100%;
}

.nav-btn {
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--white);
}
