.nav {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  padding: 10px;
  width: 100%;
}

#nav-notification {
  width: 90%;
  text-align: center;
  display: block;
  /* background-color: white; */
}

.nav-btn {
  /* background-color: var(--green); */
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--white);
  background-color: white;
}
