* {
  margin: 0;
  padding: 0;
}

/* * > p {
  font-size: 10px;
  color: black;
} */

:root {
  --white: #fff;
  --green: rgb(125, 206, 125);
  --blue: rgb(69, 207, 231);
  --gray: rgb(221, 221, 221);
}

.container-fluid {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.body {
  margin-top: 30px;
  display: flex;
}

.card {
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  /* border-radius: 0.375rem; */
  width: 93%;
  margin: 10px 0px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.billing-item-header {
  border-top: 2px solid var(--dark-grey);
  padding: 8px 0;
}

.billing-item-list {
  border-top: 1px solid var(--dark-grey);
  border-bottom: 1px solid var(--dark-grey);
  padding: 8px 0;
}

.billing-item-footer {
  margin-top: 20px;
  border: 3px solid var(--gray);
  height: fit-content;
  color: black;
}

.w-50 {
  width: 50%;
}

.p-2-6 {
  padding: 3px 10px;
}


.w-50 > p, b {
  color: black;
}

/* Big Screens */
@media (min-width: 1441px) {
  /* @content ;  */
}

/* desktop */
@media (max-width: 1440px) {
  /* @content ;  */
}

/* laptop */
@media (max-width: 1024px) {
  /* @content ;  */
}

/* tablet */
@media (max-width: 769px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 769px) {
  .container-fluid {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

/* phablet */
@media (max-width: 425px) and (min-width: 376px) {
  /* @content ;  */
}

/* mobileonly  */
@media (max-width: 375px) and (min-width: 321px) {
  /* @content ;  */
}

@media (max-width: 320px) {
  /* @content ;  */
}
