.card-body__mobile {
  display: flex;
  justify-content: center;
}

.card-img__mobile {
  padding: 12px;
}

.card-img__mobile > img {
  max-width: 100%;
  height: auto;
}

.card-footer__mobile {
  padding: 12px;
}

.item-details__mobile {
  font-weight: bold;
}

.item-name__mobile{
  text-align: center;
}

.item-price__mobile {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  font-size: 12px;
}

.item-actual-price__mobile {
  color: var(--dark-grey);
  text-decoration: line-through var(--dark-grey) 2px;
}

.item-actual-discount__mobile {
  color: var(--success);
}

.item-add-to-card__mobile {
  text-align: center;
}

.item-add-to-card__mobile > button {
  padding: 12px;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--gold);
  font-weight: bold;
  color: var(--white);
}
