.nav__mobile {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.brand-logo > img {
  height: 40px;
  background-color: var(--primary);
}

.nav-input-container__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid white;
}

.nav-input-container__mobile > input {
  border: none;
  background-color: var(--primary);
  color: white;
  width: 60vw;
  padding: 12px;
}

.nav-input-container__mobile > input::placeholder {
  color: white;
  font-weight: 600;
}
.nav-input-container__mobile > input::-ms-input-placeholder {
  color: white;
  font-weight: 600;
}
.nav-input-container__mobile > input:-ms-input-placeholder {
  color: white;
  font-weight: 600;
}

.nav-cart__mobile > a {
  background-color: var(--primary);
  border: none;
  color: var(--white);
  font-size: 30px;
  padding-right: 30px;
}

.functions__mobile {
  display: flex;
}

.fnc-fixed {
  position: fixed;
  top: 75px;
  width: 100%;
}

.functions__mobile > button {
  background-color: var(--white);
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px;
  font-weight: bold;
}

.functions__mobile > button:hover {
  background-color: var(--secondary);
}

.nav-my-cart__mobile {
  justify-content: start;
  font-size: 12px;
}

.nav-my-cart__mobile > a > i {
  padding: 12px;
  font-size: 30px;
  color: white;
}

.nav-num-of-items__mobile {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 0;
  margin-top: 15px;
  margin-right: 30px;
  background-color: #d84315;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
